<!-- home.component.html -->
<!-- <div class="home"> -->

<div class="card-container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col" *ngFor="let game of gamesFiltered">
      <div class="card h-100">
        <img [src]="game.thumbnail" class="card-img-top" alt="{{ game.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ game.title }}</h5>
          <p class="card-text">{{ game.short_description }}</p>
          <a href="details/{{game.id}}" class="stretched-link card-link">Ver mas</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Añade los botones para la paginación -->
  <div class="pagination-buttons">
    <button class="card-link pagination-button" (click)="previousPage()">Anterior</button>
    <button class="card-link pagination-button" (click)="nextPage()">Siguiente</button>
  </div>
</div>


<!-- </div> -->
