.filters {
  max-width: 1200px;
  margin: 20px auto;
  padding-left: 20px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  select {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  }

  img {
    max-width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }

  .card-body {
    flex: 1 1 auto;
    padding: 1.25rem;

    .card-text {
      margin-bottom: 1.25rem;
    }

    .card-title {
      margin-bottom: 0.75rem;
    }

    .game-platforms {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        margin-right: 10px;
      }
    }
  }
}
