.filter-games-component {
  background-color: #222;
  color: #fff;
  border-radius: 15px;
  padding: 15px;
  margin: 5px;

  .filter-games-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-group {
      margin-bottom: 1rem;
      width: 100%;

      @media (min-width: 768px) {
        width: auto;
      }
    }

    .form-control {
      background-color: #333;
      border: none;
      color: #fff;

      &::placeholder {
        color: #ccc;
      }

      &:focus {
        background-color: #444;
        color: #fff;
      }
    }

    .btn {
      background-color: #007bff;
      border: none;
      color: #fff;

      &:hover {
        background-color: #0056b3;
      }
    }

    .row {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}
