// filename: filter-games.component.scss
.filter-games-component {
  .filter-games-form {
    padding: 0 15px; // agrega un espacio vacío pequeño a la izquierda y derecha
    display: flex;
    flex-direction: column;
    justify-content: center; // centra los campos de búsqueda
    align-items: center;

    .form-group {
      margin-bottom: 1rem;
      width: 100%; // se adapta a la pantalla

      @media (min-width: 768px) { // Medium devices and up
        width: auto; // tamaño original en pantallas más grandes
      }
    }

    .row {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}
